RespondeAI_n8n.json
{
  "name": "RespondeAI",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.prompt }}",
        "options": {
          "systemMessage": "Você é um atendente especializado do Instituto Federal do Rio Grande do Sul (IFRS), capacitado para esclarecer dúvidas sobre o curso de Tecnólogo em Análise e Desenvolvimento de Sistemas.\n\nUtilize apenas as informações contidas no plano pedagógico presente na base de dados vetorial para formular suas respostas.\n\nResponda de forma clara, objetiva e com autoridade, como um profissional da área acadêmica.\nDê prioridade para procurar as informações na ABRIDGED SECTION, caso não ache, procure no resto do documento.\n\nNão invente informações. Caso a resposta não esteja presente no documento, diga claramente que essa informação não está disponível no plano pedagógico.\n\nEvite repetir frases, e não peça autorização para acessar a base — você já tem acesso."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        620,
        -40
      ],
      "id": "61013fcc-30f0-45f7-ba66-50ba8e09ad08",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        760,
        180
      ],
      "id": "1d1972ae-cdab-4853-9ae5-8e76f201758c",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "EbutK3StP0FaqNiT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        960,
        280
      ],
      "id": "42e09e0a-83ba-4bbf-bd37-4626f0951910",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "mSsRqBnzQhbHDTjI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1HZWtb5e_1JVLtYW1jZCnbzF78zxOOPmr",
          "mode": "list",
          "cachedResultName": "RespondeAI",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1HZWtb5e_1JVLtYW1jZCnbzF78zxOOPmr"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "b2bd3d82-9ac3-4f45-bde3-476ea2ddd11d",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        640
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qLSqwXADhc0VshCO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.id }}*"
      },
      "id": "3d5daf4d-63d4-4aa6-8e8c-3becaf61b40c",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        360,
        640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "mSsRqBnzQhbHDTjI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Mapping manual').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain",
              "drawingsToFormat": "application/pdf",
              "slidesToFormat": "application/pdf",
              "sheetsToFormat": "application/pdf"
            }
          }
        }
      },
      "id": "2710e6b0-68be-4ae7-951e-5fb2addb7109",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        520,
        640
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qLSqwXADhc0VshCO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "c6205d01-5de3-49b3-8d45-e07fb45e2c72",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        740,
        640
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9b630a91-9238-4ea5-babe-124592e2b378",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1140,
        880
      ]
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "id": "ec547449-1c1d-4e79-9cb3-fc80c75ce13d",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1140,
        1080
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "70bace01-f756-41c3-91d7-cb4882955578",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "550b7653-17c1-4aff-b0d5-61e17006d547",
      "name": "Mapping manual",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        180,
        640
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embeddingBatchSize": 50,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        960,
        640
      ],
      "id": "78e24160-1b10-4b0b-af9d-ff232c3c2743",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "mSsRqBnzQhbHDTjI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        920,
        880
      ],
      "id": "eb1f6528-a767-43ca-b494-c2dc83cb2cc9",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "lk69V9MIoUBw1tlF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        960,
        460
      ],
      "id": "c877f6db-1160-49d7-8f86-97a4f1e0cb08",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "lk69V9MIoUBw1tlF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        600,
        180
      ],
      "id": "a50a9846-0a73-49e0-bb8a-beb09595c07e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "lk69V9MIoUBw1tlF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1300,
        300
      ],
      "id": "c01abda4-ca47-45cf-a6b6-9a75a8cd8279",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "lk69V9MIoUBw1tlF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "description": "Esta ferramenta acessa o conteúdo do plano pedagógico do IFRS, ou seja, o plano pedagógico do curso de Tecnólogo em Análise e Desenvolvimento de Sistemas do IFRS, armazenado na base vetorial.\n\nUse esta ferramenta sempre que precisar localizar informações específicas no documento, como carga horária, disciplinas, objetivos do curso, estrutura curricular, entre outros.\n\nAs respostas devem ser baseadas apenas no conteúdo retornado pela base vetorial.\n\nNão diga que irá procurar — apenas use a ferramenta e responda com base no conteúdo retornado.\n\nHaverá uma seção resumida no qual você deverá dar prioridade para obter informação por lá no documento, caso a informação não esteja la, comece a buscar a informação pelo documento.\n\nCaso não encontre a resposta, informe que a informação não foi localizada no plano pedagógico."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1060,
        140
      ],
      "id": "3239768e-3939-4b39-8dda-42565e7d6fa2",
      "name": "catch_vector_store"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5489a91b-144b-4ec4-a590-2f4b3f849497",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -40
      ],
      "id": "73f128d8-e948-4bbd-979a-94b0fd34944c",
      "name": "Webhook",
      "webhookId": "5489a91b-144b-4ec4-a590-2f4b3f849497"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34573c9a-4490-4d1b-8c62-9296cdcbaa3f",
              "name": "sessionId",
              "value": "default-session",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        -40
      ],
      "id": "669bd28e-8d16-4ca3-86e1-e30dd7f6911e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        980,
        -40
      ],
      "id": "d2cc98f5-8fb0-4092-b6cc-f1ee117065b3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -20,
        1200
      ],
      "id": "5b5262d5-4073-41c1-908e-131c6e2bf2bc",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "n8n_chat_histories",
        "filterType": "string",
        "filterString": "id=gte.0"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        200,
        1200
      ],
      "id": "4e0328a3-e651-4b95-a504-11d777854439",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "mSsRqBnzQhbHDTjI",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "catch_vector_store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Mapping manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Mapping manual": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "catch_vector_store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "catch_vector_store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "162f5355-eae8-4805-8d03-82e2e8c7fc0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c809f7fe2ed52859ace0d520977d4f22f26095bbedbd6de038bdcda8bd34b2f9"
  },
  "id": "gk9dQGw8DJhdhCFB",
  "tags": []
}